[submodule "ns-3-extended-with-execution-environment"]
	path = ns-3-extended-with-execution-environment
	url = git@github.com:espv/ns-3-extended-with-execution-environment.git
	branch = master
[submodule "instrumented-omap-plus-configs-and-scripts"]
	path = instrumented-omap-plus-configs-and-scripts
	url = git@github.com:espv/instrumented-omap-plus-configs-and-scripts.git
	branch = master
[submodule "instrumented-flinkcep-plus-configs-and-scripts"]
	path = instrumented-flinkcep-plus-configs-and-scripts
	url = git@github.com:espv/instrumented-flinkcep-plus-configs-and-scripts.git
	branch = master
[submodule "instrumented-tinyos-plus-configs-and-scripts"]
	path = instrumented-tinyos-plus-configs-and-scripts
	url = git@github.com:espv/instrumented-tinyos-plus-configs-and-scripts.git
	branch = master
[submodule "instrumented-trex-plus-configs-and-scripts"]
	path = instrumented-trex-plus-configs-and-scripts
	url = git@github.com:espv/instrumented-trex-plus-configs-and-scripts.git
	branch = master
