[submodule "instrumented-omap-plus-extended-ns3"]
	path = instrumented-omap-plus-extended-ns3
	url = https://github.com/espv/instrumented-omap-plus-extended-ns3.git
[submodule "instrumented-tinyos-plus-extended-ns3"]
	path = instrumented-tinyos-plus-extended-ns3
	url = git@github.com:espv/instrumented-tinyos-plus-extended-ns3.git
[submodule "instrumented-trex-plus-extended-ns3"]
	path = instrumented-trex-plus-extended-ns3
	url = git@github.com:espv/instrumented-trex-plus-extended-ns3.git
[submodule "latest_ns3_implementation2"]
	path = latest_ns3_implementation2
	url = git@github.com:espv/ns-3-extended-with-execution-environment.git
[submodule "ns-3-extended-with-execution-environment"]
	path = ns-3-extended-with-execution-environment
	url = git@github.com:espv/ns-3-extended-with-execution-environment.git
